.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    @include mquery(tablet){
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
  body{
      display: table;
      width: 100%;
  }
  img{
      max-width: 100%;
      height: auto;
  }
  .node__content{
      margin: 0 !important;
      font-size: 15px;
  }
.medicppt-about-us{
    background-color: #F0F2FF;
    padding: 55px 0;
    text-align: center;
    @include mquery(mobile){
        padding: 40px 0;
    }
    .paragraph--type--title-component {
        margin-bottom: 12px !important;
        .field--name-field-title {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
        }
    }
    .field--name-field-description {
        display: inline-block;
        margin: auto;
        width: 85%;
    }
    .field--name-field-media-image{
       .field__item{
           display: inline-flex;
           position: relative;
           &::after{
               position: absolute;
               top: 50%;
               left: 0;
               right: 0;
               width: 100%;
               margin: 0 auto;
               transform: translateY(-50%);
               content: "MedicPPT.com";
               font-size: 18px;
               color: #fff;
           }
       }
    }
    
    .paragraph{
        margin-bottom: 24px;
    }
}
.field--type-entity-reference{
    margin: 0 !important;
}
.node .field--type-image{
    float: none !important;
    margin: 0 !important;
}
.medicppt-services{
    background-color: #F0F2FF;
    padding: 50px 0 120px;
    @include mquery(mobile){
      padding: 40px 0 90px;
    }
    .field--name-field-title{
        margin-bottom: 18px;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
    }
    p{
        width: 59%;
        margin-bottom: 60px;
        @include mquery(mobile){
            width: 100%;
         }
    }
    .paragraph--type--card-carousel-component{
        margin: 0 40px 0 40px;
        .field--name-field-card-component{
            height: auto;
            padding: 178px;
            @include mquery(mobile){
                width: 320px;
                margin: 0 auto;
                padding: 57px 0 90px 0;
            }
            .field--name-field-title{
                color: #1B1B1B;
                text-align: center;
                margin: 52px 0 0 0;
                display: none;
                @include mquery(mobile){
                    margin: 27px 0 0 0;
                    font-size: 16px;
                }
            }
        }
    }
 
}
.field__item[data-pos="0"]{
  .field--name-field-title{
    display: block !important;
   }
}
.medicppt-why-choose-us{
    background-color: #414BAC;
    padding: 50px 0;
    @include mquery(mobile){
      padding: 40px 0;
    }
    .field--name-field-title{
        color: #fff;
        margin-bottom: 50px;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        @include mquery(mobile){
            margin-bottom: 30px;
        }
    }
    .field--name-field-link{
        a{
            background: #fff;
            display: block;
            text-align: center;
            color: #414BAC;
            font-size: 18px;
            font-weight: 500;
            line-height: 35px;
            padding: 18px 15px;
            border-radius: 10px;
            max-width: 235px;
            width: 100%;
            margin: 0 auto;
            @include mquery(mobile){
                padding: 15px;
            }
        }
    }
    .medicppt-service-card{
        max-width: 100%;
        width: 100%;
        @include mquery(mobile){
            padding: 0 !important;
        }
        .field--name-field-section-component{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            > .field__item{
                width: 33.33%;
                text-align: center;
                padding: 0 20px 24px;
                color: #fff;
                @include mquery(mobile){
                  width: 100%;
                  padding: 0 0 20px;
                }
            }
            .field--name-field-title{
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                margin: 0 0 14px;
                @include mquery(mobile){
                 margin: 0 0 0 10px;
                }
            }
            .field--type-image{
                img{
                    margin: 0 0 10px;
                    @include mquery(mobile){
                      margin: 0;
                    }
                }
            }
            p{
                font-size: 12px;
                line-height: 22px;
                color: #fff;
                line-height: 1.56;
                margin: 0;
            }
         
        }
        .paragraph{
            @include mquery(mobile){
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                position: relative;
                cursor: pointer;
                border-bottom: 1px solid #fff;
                padding-bottom: 12px;
                margin-bottom: 10px;
               &::after{
                   position: absolute;
                   right: 0;
                   top: 11px;
                   font-size: 18px;
                   color: #fff;
                   content: "+";
                   pointer-events: none;
               }
              
               .field--name-field-description{
                 width: 100%;
                 text-align: left;
                 display: none;
                 padding: 12px 0 0 0;
                }
            }
            &.show-data{
                &::after{
                    content: "-";
                }
                .field--name-field-description{
                    display: block;
                }
            }
        }
        
    }
   
}

.medicppt-speciality{
    background: #fff;
    padding: 70px 0;
    @include mquery(mobile){
        padding: 40px 0;
    }
    .field--name-field-section-component{
        display: flex;
        flex-wrap: wrap;
        > .field__item{
            width: 55%;
            @include mquery(mobile){
              width: 100%;
            }
            .paragraph--type--image-component{
                @include mquery(mobile){
                    padding-bottom: 30px;
                }
                img{
                    max-width: 100%;
                    display: block;
                    height: auto;
                    margin: 0;
                }
            }
            h2{
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 12px;
            }
            p{
                font-size: 13px;
                margin: 0 0 0;
            }
            ul{
                margin: 0;
                padding: 28px 0 0 9px;
                li{
                    color: #202020;
                    font-size: 15px;
                    list-style: none;
                    position: relative;
                    margin-bottom: 18px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    &::before{
                        position: absolute;
                        left: -8px;
                        top: 10px;
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                        background: #666;
                        content: "";
                    }
                }
            }
        }
        > .field__item + .field__item{
            width: 45%;
            padding: 5px 0 0 75px;
            @include mquery(mobile){
                width: 100%;
                padding: 0 !important;
            }
        }
    }
}
.medicppt-team{
    background-color: #F0F2FF;
    padding: 55px 0;
    @include mquery(mobile){
        padding: 50px 0;
    }
    h2{
        margin-bottom: 18px;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
    }
    .field--name-field-section-component{
        display: flex;
        flex-wrap: wrap;
        > .field__item{
            width: 46%;
            padding: 0;
            @include mquery(mobile){
                width: 100%;
                padding: 0 0 20px !important;
            }
            .paragraph--type--description-component{
                padding-top: 20px;
                @include mquery(mobile){
                    padding: 0 !important;
                }
            }
            p{
                line-height: 30px;
            }
        }
        > .field__item + .field__item{
            width: 54%;
            @include mquery(mobile){
                width: 100%;
            }
        }
    }
    .field--name-field-description {
        padding: 0 100px 0 0;
        p {
            line-height: 30px;
        }
    }
}

.medicppt-contact-us{
    padding: 55px 0 45px;
    .field--name-field-title{
        margin-bottom: 8px;
        color: #fff;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
    }
    .field--name-field-description{
        p{
            color: #fff;
            text-align: center;
            font-weight: 300;
            margin: 0 0 40px;
            font-size: 12px;
            line-height: 18px;
        }
    }
  .paragraph--type--custom-block-component{
      .block-block-content{
          ul{
            margin: 0 0 28px;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            li{
                color: #fff;
                padding: 0 25px;
                display: flex;
                align-items: center;
                div{
                    padding-right: 13px;
                }
                small{
                    display: block;
                    color: #fff;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                }
                a{
                    color: #fff;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                }
            }
          }
      }
  }
}
.webform-submission-form{
    max-width: 670px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    border-radius: 20px;
    padding: 26px 26px 4px;
    .alert-wrapper{
        display: none;
    }
    .js-form-item-leave-us-message{
        label{
            font-size: 18px;
            line-height: 27px;
            font-weight: 500;
            text-align: center;
            display: block;
        }
    }
    .js-form-wrapper{
        display: flex;
        justify-content: space-between;
        .js-form-item {
            width: 48%;
            margin-bottom: 2px !important;
        }
        label{
            font-size: 12px;
            line-height: 12px;
            color: #DBE0E3;
            padding-bottom: 5px;
            &::after{
                background-size: 3px 3px;
                width: 5px;
                height: 5px;
                margin: 0;
                position: relative;
                top: 3px;
                left: 2px;
           }
        }
        .form-control{
            border: none;
            border-bottom: 1px solid #E9E9E9;
            padding: 0px 0 5px 0px;
            border-radius: 0;
            outline: none;
            color: #333;
            box-shadow: inherit;
            font-size: 12px;
            line-height: 15px;
            &.is-invalid{
                border-color: #dc3545;
            }
        }
    }
    .js-form-type-textarea{
        label{
            font-size: 12px;
            line-height: 12px;
            color: #DBE0E3;
            padding-bottom: 5px;
            &::after{
                background-size: 3px 3px;
                width: 5px;
                height: 5px;
                margin: 0;
                position: relative;
                top: 3px;
                left: 2px;
           }
        } 
        .form-control{
            border: 1px solid #E9E9E9;
            padding: 0px 0 5px 0px;
            font-size: 12px;
            line-height: 15px;
            outline: none;
            color: #333;
            box-shadow: inherit;
            &.is-invalid{
                border-color: #dc3545;
            }
        }
    }
    .form-actions{
        .button{
            max-width: 142px;
            width: 100%;
            margin: 5px auto 0;
            background: #414BAC;
            border: none;
            padding: 12px 10px;
            border-radius: 10px;
            outline: none;
        }
    }
} 
.medicppt-whom-do-we-serve{
    padding: 50px 0 45px;
    @include mquery(mobile){
        padding: 40px 0;
    }
    .form-row>fieldset, .form-row>div{
        margin: 0 !important;
        padding: 0;
    }
    .field--name-field-title{
        margin-bottom: 4px;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
    }
    .radio{
        display: flex;
        padding: 0 40px 0 0;
        margin: 0 0 18px;
        @include mquery(mobile){
            padding: 0 20px 0 0;
        }
        &:last-child{
            padding-right: 0;
            @include mquery(mobile){
                padding: 0;
            }
        }
        .form-check-label{
            color: #A9A9B3;
            padding: 0 15px 10px;
            position: relative;
            cursor: pointer;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            @include mquery(mobile){
                font-size: 15px;
                padding: 0 10px 8px;
            }
        }
        input{
            display: none;
            &:checked ~{
                .form-check-label{
                    color: #202020;
                    font-weight: 500;
                    &::after{
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 3px;
                        border-radius: 5px;
                        background: #414BAC;
                        width: 100%;
                        content: "";
                    }
                } 
            }
        }
       
    }
    .view-content{
        display: flex;
        flex-wrap: wrap;
        gap: 27px;
        @include mquery(mobile){
            gap: 0;
        }
        .views-row {
            width: calc(25% - 27px);
            background: #fff;
            box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 15px;
            @include mquery(mobile){
               width: 100%;
               margin-bottom: 20px;
               &:last-child{
                   margin-bottom: 0;
               }
            }
            .card{
                border: none;
                p{
                    color: #202020;
                    margin: 0;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}
.ui-widget.ui-widget-content.ui-dialog{
    top:50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}
@include mquery(mobile){
    .paragraph--type--card-carousel-component.paragraph--view-mode--default>.field__items>.field__item{
        width: 208px;
        height: 150px;
    }
}