.header {
  display: flex;
  align-items: center;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.15);
  background: #414bac;
  @include mquery(mobile){
    
  }
  nav.navbar{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    .navbar-nav{
      li{
        padding: 0 7px;
        a{
          color: #fff;
          padding: 5px 4px;
          border-bottom: 1px solid transparent;
          &:hover, &.active{
            border-color: #fff;
          }
        }
      }
    }
  }
}