@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
//global styles
@import "./global/_mixins";
@import "./global/_variables";
@import "./global/_colors";
@import "./global/_font-size";
@import "./global/_media-size";

//slick styles
@import "./slick/slick";
@import "./slick/slick-theme";

// aos
@import "./aos/aos";



// Bootstrap Icon
// @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
// @import url("https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css");

//component styles
@import "./components/header";
@import "./components/card-carousel";
@import "./components/footer";

//home page style
@import "pages/home-page";

//Fonts Import
@import "font-family";
@include font-face("SST Pro", fonts/SSTPro-MediumItalic, 500, italic);
@include font-face("SST Pro Condensed", fonts/SSTPro-Condensed, normal, normal);
@include font-face("SST Pro", fonts/SSTPro-Medium, 500, normal);
@include font-face("SST Pro Condensed", fonts/SSTPro-CondensedMd, 500, normal);
@include font-face("SST Pro", fonts/SSTPro-Italic, normal, italic);
@include font-face("SST Pro Condensed", fonts/SSTPro-CondensedBd, bold, normal);
@include font-face("SST Pro", fonts/SSTPro-LightItalic, 300, italic);
@include font-face("SST Pro", fonts/SSTPro-BoldItalic, bold, italic);
@include font-face("SST Pro", fonts/SSTPro-HeavyItalic, 900, italic);
@include font-face("SST Pro", fonts/SSTPro-Bold, bold, normal);
@include font-face("SST Pro", fonts/SSTPro-Light, 300, normal);
@include font-face("SST Pro", fonts/SSTPro-Heavy, 900, normal);
@include font-face("SST Pro Typewriter", fonts/SSTTypewriterPro-Roman, normal, normal);
@include font-face("SST Pro Ultra", fonts/SSTPro-UltraLightItalic, 200, italic);
@include font-face("SST Pro Typewriter", fonts/SSTTypewriterPro-Bd, bold, normal);
@include font-face("SST Pro", fonts/SSTPro-Roman, normal, normal);
@include font-face("SST Pro Ultra", fonts/SSTPro-UltraLight, 200, normal);

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #1B1B1B;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.row>* {
  padding-left: 0;
  padding-right: 0;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    outline: none;
  }
}
