// Small tablets and large smartphones (landscape view)
$screen_sm_min: 576px;
$screen_sm_max: 575px;

// Small tablets (portrait view)
$screen_md_min: 768px;
$screen_md_max: 768px;

// Tablets and small desktops
$screen_lg_min: 992px;
$screen_lg_max: 992px;

// Large tablets and desktops
$screen_xl_min: 1200px;
$screen_xl_max: 1200px;
