//global variables keep adding
$font-ultralight: 200;
$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;


/* colors */
$primary-color: #f05a23;
$black:#000000;
$white:#ffffff; 
$greyscale2:#504d56;
$greyscale4: #b3adbe;
$greyscale5:#e4e7eb;


/* font family */
$sstpro_bold: SSTPro-Bold;
$sstpro_bold_italic: SSTPro-BoldItalic;
$sstpro_condensed:SSTPro-Condensed;
$sstpro_condensedbd:SSTPro-CondensedBd;
$sstpro_condensedmd:SSTPro-CondensedMd;
$sstpro_heavy:SSTPro-Heavy;
$sstpro_heavy_italic:SSTPro-HeavyItalic;
$sstpro_italic: SSTPro-Italic;
$sstpro_light: SSTPro-Light;
$sstpro_medium:SSTPro-Medium;
$sstpro_light_italic: SSTPro-Light-Italic;
$sstpro_roman:SSTPro-Roman;
$sstpro_ultra_light:SSTPro-UltraLight;
$sstpro_ultra_light_italic:SSTPro-UltraLight-Italic;
$sst_type_writer_pro_bd:SSTTypewriterPro-Bd;
$sst_type_writer_pro_roman:SSTTypewriterPro-Roma;


